input {
    color: #FFFDFA;
    background-color: transparent;
    border-width: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #7C7366;
    padding: 10px 7px;
    box-sizing: border-box;
}

input:focus {
    border-color: #28b872;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    font-weight: bold;
    font-size: 2.8rem;
    margin: 9% 0px;
}

.title-highlight {
    color: #69F0AE;
}

.options {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.option {
    display: flex;
    gap: 2px;
}

.other-options {
    display: flex;
    align-items: center;
    gap: 2px;
}

.other-input:enabled {
    border-color: #28b872;
}

.extend-width {
    width: 100%;
}

.copy-btn {
    background-color: #1f8f59;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.copy-btn:hover {
    background-color: #28b872;
}

.copy-btn:active {
    background-color: #1f8f59;
}