<div>
    <h1><span class="title-highlight">Branch Name</span> Generator</h1>
    <input (input)="setBranch($event.target)" placeholder="Branch name..." type="text">
    <div class="options">
        <div>
            <input (change)="setOption($event.target)" type="radio" id="feature" name="drone" [value]="options.feature"
            checked>
            <label for="feature">Feature</label>
        </div>
        <div>
            <input (change)="setOption($event.target)" type="radio" id="bugfix" name="drone" [value]="options.bugfix">
            <label for="bugfix">Bugfix</label>
        </div>
        <div>
            <input (change)="setOption($event.target)" type="radio" id="other" name="drone" [value]="options.other">
            <label for="other">
                <input (input)="setOtherText($event.target)" type="text" name="other" id="other-text">
            </label>
        </div>
    </div>
    <div>
        <input disabled [value]="result" placeholder="Result" type="text">
        <button (click)=(copyToClipboard(result))>Copy</button>
    </div>
</div>